<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jibufy - Company Profile Detail</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Add Bootstrap Icons CSS (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="static/custom.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css.map">

</head>
<body>
    <!-- Bootstrap Navbar with Search Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="index.html">Marketplace</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="bi bi-bell h5"></i><span class="badge">45</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="bi bi-plus-square-dotted h5"></i></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Marketplace <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages.html">Businesses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="jobs.html">Jobs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="bookmarks.html">Bookmarks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="settings.html">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile.html">Profile</a>
                </li>
            </ul>

            <form class="form-inline search-bar">
                <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container my-4">
        <div class="col-md-8 mx-auto">
            <div class="profile-header text-center mb-3 position-relative">
                <a href="#" type="button" class="position-absolute card-icon">Edit</a>

                <img src="https://via.placeholder.com/150" alt="Company Logo" class="profile-avatar">
                <h1 class="h3 mt-2">Denamse Angono Derkos Tirel</h1>
                <p class="p">Email: tirelangono@gmail.com</p>

                <a href="#" type="submit" class="btn btn-success">Follow</a>
            </div>

            <!-- Company Information -->
            <div class="card-thumbnail position-relative card-border-top">
                
                <div class="profile-info">
                    <h2 class="card-title">About Us</h2>
                    <p class="card-description p-3 bg-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus id massa pharetra dignissim. Vivamus lacinia arcu nec vehicula. Description for Sample card Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <hr>

                <div class="profile-info">
                    <h2 class="card-title">Follow us on social media</h2>

                    <!-- Social Media Buttons -->
                    <a href="#" class="btn btn-sm btn-primary social-btn">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://wa.me/+256773518172" class="btn btn-sm btn-success social-btn">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="mailto:youremail@example.com" class="btn btn-sm btn-danger social-btn">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-info social-btn">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary social-btn">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-info social-btn">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-sm btn-primary social-btn">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </div>
                <hr>

                <!-- Contact Information -->
                <div class="profile-info">
                    <h2 class="card-title">Contact Information</h2>
                    <ul>
                        <li>Email: tirelangono@abccorp.com</li>
                        <li>Phone: +(256) 770363594</li>
                        <li>https://angohouse.com</li>
                        <li>Consulting</li>
                        <li>Address: Kampala City, Uganda</li>
                    </ul>
                </div>

                <hr>
                <!-- Services Offered -->
                <div class="profile-info">
                    <h2 class="card-title">Services</h2>
                    <ul>
                        <li>Web Development</li>
                        <li>Graphic Design</li>
                        <li>Consulting</li>
                        <li>Marketing</li>
                    </ul>
                </div>

                <hr>
                <h2 class="card-title">Location Map</h2>
                <p class="card-description mb-3">You are 23 km far away</p>
                <div style="height: 300px; background-color: #f0f0f0;">
                    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=kampala+uganda" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                </div>

                <hr>
                <!-- <h2 class="card-title mb-3">Auhtor Details</h2> -->
                <div class="px-3 py-1 bg-light">
                    <div class="card-title">By Denamse Angono Derkos Tirel</div>
                    <ul>
                        <li class="card-description">Email: tirelangono@abccorp.com</li>
                        <li class="card-description">Phone: +(256) 770363594</li>
                        <li class="card-description">Kampala City • Uganda</li>
                        <li class="card-description">3y 6m on Jibufy</li>
                        <li class="card-description">Mark unavailable</li>
                    </ul>
                </div>
                <div class="thumbnail-button">
                    <a href="detail.html">Contact Me</a>
                    <a href="detail.html" class="bg-primary">Email Me</a>
                    <a href="profile.html" class="bg-secondary">Profile</a>
                </div>
            </div>
        </div>

    </div>

    
    <div class="container-fluid py-5 bg-light">
        <div class="container py-5">
            <h1 class="display-5 mb-4 text-primary">Don't hesitate to reach out.</h1>
            <p class="h5 text-muted">The Marketplace for Endless Possibilities.</p>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5 class="footer-logo">Jibufy</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac urna vel lacus pretium lacinia at ut mi.</p>
            </div>
            <div class="col-md-4">
                <h5>Explore</h5>
                <ul class="footer-links">
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Businesses</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="privacy.html">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
            <div class="col-md-4">
              <h5>Contact</h5>
              <p>Email: contact@airbnb.com</p>
              <p>Phone: +1 (123) 456-7890</p>
            </div>
          </div>
        </div>
    </footer>

    <!-- Add Bootstrap JS scripts here (optional, if needed) -->
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js.map"></script>
    <script type="text/javascript" src="static/js/htmx.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
